Scene.meta
Scripts.meta
Scene/MainMenu.unity.meta
Scene/MainScene.unity.meta
Scripts/CameraScript.cs.meta
Scripts/MainScript.cs.meta
Scripts/TestScript.cs.meta
README.md.meta
Scripts/CreatingScript.cs.meta
Scripts/BlocksMovementScript.cs.meta
Scripts/SoundScript.cs.meta